<% provide :title, t(".title") %>
<h1><%= t ".header" %></h1>
<p>
  <%= t ".contain1" %> <a href="http://www.railstutorial.org/"><em><%= t ".contain2" %></em></a> <%= t ".contain3" %>
  <a href="http://www.railstutorial.org/book"><%= t ".book" %></a> <%= t ".contain4" %>
  <a href="http://screencasts.railstutorial.org/"><%= t ".screencast" %></a>
  <%= t ".contain5" %>
  <a href="http://rubyonrails.org/"><%= t ".contain6" %></a>.
  <%= t ".contain7" %>
</p>
