<% provide :title, t(".title") %>
<h1><%= t ".header" %></h1>
<p>
  <%= t ".contain1" %>
  <a href="http://www.railstutorial.org/help"><%= t ".contain2" %></a>.
  <%= t ".contain3" %>
  <a href="http://www.railstutorial.org/book"><em><%= t ".contain4" %></em>
  <%= t ".contain5" %></a>.
</p>
